
//  Variables
// --------------------------------------------------

@dark: #3e3f3a;
@bone: #FDFDFD;

//  Layout
// --------------------------------------------------

body {
  background: @dark;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav, .mid {
  background: @bone;
}

.mid {
  padding-bottom: 100px;
}

.footer {
  margin-top: 30px;
  color: #fff;

  .navbar-brand {
    padding: 7px 0;
    float: right;
    font-weight: 500;
    text-transform: uppercase;
  }
}

//  Styles
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

//  Hole Cards
// --------------------------------------------------

select, option, .card .suit {
    cursor: pointer;
}

.settings {
  margin-bottom: 15px;
}

#result {
  margin-bottom: 0;
}

//  Responsive Cards
// --------------------------------------------------

@sm: 133px;
@md: 183px;
@lg: 228px;

.card {
  height: @sm;
  position: relative;
  // background: #222;
  background: #fff;
  border: 1px solid fade(@dark, 20%);
  border-radius: @sm/20;
  box-shadow: 1px 1px 5px fade(@dark, 50%);
  // color: #fff;

  select {
    height: @sm/2.5;
    width: inherit;
    margin: @sm/40 @sm/20;
    padding: 0 6px;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: @sm/3;
    font-weight: bold;
  }
  .suit {
    position: absolute;
    right: @sm/20;
    bottom: 0;
    font-size: @sm/1.5;
    line-height: 0.86;
  }
  option {
    font-size: 16px;
    // background: #222; 
  }
}

@media (min-width: 992px) {
  .card {
    height: @md;
    border-radius: @md/20;
    select {
      height: @md/2.5;
      margin: @md/40 @md/20;
      font-size: @md/3;
    }
    .suit {
      right: @md/20;
      font-size: @md/1.5;
    }
  }
}

@media (min-width: 1200px) {
  .card {
    height: @lg;
    border-radius: @lg/20;
    select {
      height: @lg/2.5;
      margin: @lg/40 @lg/20;
      font-size: @lg/3;
    }
    .suit {
      right: @lg/20;
      font-size: @lg/1.5;
    }
  }
}
